<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apoieruas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApoieRuas">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tela_entrar"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".splash_screen"
            android:exported="true"></activity>
        <activity
            android:name=".mapa_freguesia"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_ipiranga"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_itaquera"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_jacana"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_vilamariana"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_saomatheus"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_penha"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_pinheiros"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_santoamaro"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_tiradentes"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mapa_vilamaria"
            android:exported="true"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".tela_configs"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
<!--    Token GitHub-->
<!--    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-->
